* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: 1s;
}

body {
    background-color: #fdde7e;

}

.coffe-box {
    margin: 0 auto;
    padding: 300px 0;
    max-width: 1140px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}


.coffe-item {
    display: flex;
    flex-basis: 360px;
    height: 500px;
    background-color: #ffF;
    box-shadow: 3px 3px 12px 1px rgba(0, 0, 0, 0.2);

}

.coffe-item:not(:hover) {
    height: 440px;
}

.coffe-item__link {
    display: flex;
    padding: 50px 100px;
    text-decoration: none;
}

.coffe-item__con {
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;

}


.coffe-item__text {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #000;
}

.coffe-item__name {
    font-weight: 600;
    font-family: 'Ropa Sans', sans-serif;
    font-size: 56px;
    color: #000;
}

.coffe-item__title {
    font-family: 'Ropa Sans', sans-serif;
    font-weight: 700;
    font-size: 70px;
    color: #45b487;
}